.categories{
  margin-top: 100px;
}
.categories-inner{
  width: 1280px;
  margin: 0 auto;
}
.category-lists{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.category-list a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-list a img{
  width: 100px;
  height: auto;
  border-radius: 50%;
  transition: .3s ease;
}
.category-list a:hover img{
  transform: translateY(-2px);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.category-list a span{
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  display: block;
}