.main-visual{
  width: 100%;
  overflow: hidden;
}

.main-visual .swiper .swiper-wrapper .swiper-slide{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  filter: brightness(0.5);
}
.main-visual .swiper .swiper-wrapper .swiper-slide img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지를 비율에 맞게 잘라내며 슬라이드를 채우도록 설정 */
}
.main-visual .swiper .swiper-wrapper .swiper-slide .main-image-text{
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-image-text h4{
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,0.3);
  margin-bottom: 10px;
}
.main-image-text .title-wrap{
  margin-bottom: 30px;
}
.main-image-text .title-wrap h2{
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.main-image-text p{
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}
.main-image-text button{
  width: 120px;
  height: 35px;
  background-color: #333;
  border-radius: 20px;
  outline: none;
  border: none;
}
.main-image-text button a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-image-text button a span{
  font-size: 12px;
  color: #fff;
  display: block;
}

.main-visual .swiper .swiper-wrapper .swiper-slide.swiper-slide-active{
  filter: brightness(1);
}
.main-visual .swiper .swiper-wrapper .swiper-slide.swiper-slide-active img{
  filter: brightness(0.9);
}

/* 이전 다음 버튼 */
.main-visual .swiper .swiper-button-prev, .main-visual .swiper .swiper-button-next {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
  font-size: 20px;
  z-index: 30;
  opacity: 0;
  transition: 0.5s ease;
}
.main-visual .swiper:hover .swiper-button-prev, .main-visual .swiper:hover .swiper-button-next {
  opacity: 1;
}
.main-visual .swiper .swiper-button-prev::after, .main-visual .swiper .swiper-button-next::after {
  font-size: 15px;
  
}
.main-visual .swiper .swiper-button-prev {
  left: calc((100% - 935px)/2 - 50px);
  transform: translateX(-2px);
}
.main-visual .swiper .swiper-button-next {
  right: calc((100% - 935px)/2 - 50px);
  transform: translateX(2px);
}

/* 페이지네이션 */
.main-visual .swiper .swiper-pagination {
  bottom: 3%;
  z-index: 20;
}
.main-visual .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #f8f8f8;
  width: 5px;
  height: 5px;
}
.main-visual .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 20px;
  border-radius: 10px;
}