/* NotoSans - Korean 폰트 정의 */
@font-face {
  font-family: 'NotoSansKR';
  src: url('../../public/assets/fonts/Korean/NotoSansKR-Thin.ttf') format('truetype');
  font-weight: 100;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('../../public/assets/fonts/Korean/NotoSansKR-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('../../public/assets/fonts/Korean/NotoSansKR-Light.ttf') format('truetype');
  font-weight: 300;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('../../public/assets/fonts/Korean/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: 400;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('../../public/assets/fonts/Korean/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('../../public/assets/fonts/Korean/NotoSansKR-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('../../public/assets/fonts/Korean/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('../../public/assets/fonts/Korean/NotoSansKR-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('../../public/assets/fonts/Korean/NotoSansKR-Black.ttf') format('truetype');
  font-weight: 900;
  font-size: normal;
}

/* NotoSans - English 폰트 정의 */
@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/English/NotoSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/English/NotoSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/English/NotoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/English/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/English/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/English/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/English/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/English/NotoSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-size: normal;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../../public/assets/fonts/English/NotoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-size: normal;
}

*, body{
  font-family: 'NotoSansKR';
  font-weight: 400;
  box-sizing: border-box;
}

/* common css */
.inner{
  max-width: 1440px;
  margin: 0 auto;
}

main{
  margin-top: 130px;
}