.photo-review-card{
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}
.photo-review-card a{
  width: 100%;
  display: block;
}

.review-image{
  width: 100%;
}
.review-image > img{
  display: block;
  width: 100%;
  height: 100%;
}

.review-text{
  padding: 20px;
}
.review-text > h3{
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  font-weight: 700;
}
.review-text p{
  font-size: 12px;
  color: #777777;
  margin-bottom: 5px;
}

.review-text .user{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-text .user .review-id{
  font-size: 13px;
  color: #555;
  font-weight: 500;
}
.review-text .user .review-date{
  font-size: 13px;
  color: #555;
  font-weight: 500;
}

.review-text .review-product{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.review-text .review-product .product-img{
  width: 45px;
  height: 45px;
}
.review-text .review-product .product-img > img{
  display: block;
  width: 100%;
  object-fit: cover;
}
.review-text .review-product > h3{
  font-size: 13px;
  color: #555;
  margin-left: 20px;
}
.review-text .review-product .revuew-star{
  font-size: 12px;
  margin-left: auto;
  transform: translateY(-1px);
}